<h1 class="mt20">Questions of <b style="color:red;"> <i> {{quiz_title}} </i> </b> </h1>

<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="container text-center">
                <button mat-raised-button color="accent" [routerLink]="'/admin/add-question/'+quiz_id+'/'+quiz_title">Add New Question</button>
            </div>
            <mat-card *ngFor="let q of questions; let i = index" class="mt20">
                <mat-card-content>
                    <p>
                        <b>Q {{i+1}})</b>
                        <span class="ml20" [innerHTML]="q.ques_content"></span>
                    </p>

                    <div class="container-fluid">
                        <div class="row ml20">
                            <div class="col-md-6">
                                <p>i) {{q.ques_option1}}</p>
                            </div>
                            <div class="col-md-6">
                                <p>ii) {{q.ques_option2}}</p>
                            </div>
                        </div>
                        <div class="row ml20">
                            <div class="col-md-6">
                                <p>iii) {{q.ques_option3}}</p>
                            </div>
                            <div class="col-md-6">
                                <p>iv) {{q.ques_option4}}</p>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                        <p class="mt20" style="color: green;"><b>Correct Answer :</b> {{q.ques_answer}}</p>
                    </div>

                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>